.ccb-add {
	background-color: #FFF;
}
.ccb-menu {
	background-color: #FFF;
	padding: 0px 10px 10px;
}
.ccb-menu-pane {
	padding: 0 20px;
	border: 1px solid #eeeeee;
}
.ccb-choose-row {
	display: inline-block;
	width: 100%;
	margin: 20px 0 2px 0;
}
.ccb-choose-row li {
	margin-bottom: 6px;
	float: left;
	width: 25%;
	margin-bottom: 18px;
	padding-right: 5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ccb-choose-row li a {
	text-decoration: none;
	color: #777 !important;
}
.ccb-choose-row li a:hover {
	color: #333 !important;
}
.ccb-choose-row li a:hover .ccb-item-add-icon {
	opacity: 1;
}
.full-width .ccb-item-wrapper {
	background-image: url(../img/full.png);
}
.col-1-2 .ccb-item-wrapper {
	background-image: url(../img/2-col.png);
}
.col-1-3 .ccb-item-wrapper {
	background-image: url(../img/3-col.png);
}
.col-1-3-2-3 .ccb-item-wrapper {
	background-image: url(../img/1-3-2-3-col.png);
}
.col-2-3-1-3 .ccb-item-wrapper {
	background-image: url(../img/2-3-1-3-col.png);
}
.ccb-item-wrapper {
	float: left;
	width: 68px;
	height: 58px;
	margin-right: 18px;
	background-color: #fafafa;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50px 40px;
	border: 1px solid #dfdfdf;
}
.ccb-item-add-icon {
	display: block;
	opacity: 0;
	width: 68px;
	height: 58px;
	background: url(../img/add-icon-hover.png) center center no-repeat;
	background-size: 26px 26px;
	-webkit-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
	-webkit-transition-delay: .05s;
	transition-delay: .05s;
}
.content-blocks-wrapper {
	overflow: hidden; /* clearfix */
}
.content-blocks-wrapper .row {
	margin-left: -15px;
	margin-right: -15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content-blocks-wrapper .row:before,
.content-blocks-wrapper .row:after {
	content: " ";
	display: table;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content-blocks-wrapper .row:after {
	clear: both;
}
#poststuff .content-blocks-wrapper .row h3 {
	padding: 8px 25px;
	cursor: pointer;
}
.content-blocks-wrapper .row .block {
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content-blocks-wrapper .full-width .block {
	width: 100%;
}
.content-blocks-wrapper .col-1-2 .block {
	width: 50%;
}
.content-blocks-wrapper .col-1-3 .block {
	width: 33.33333333%;
}
.content-blocks-wrapper .col-2-3-1-3 .block {
	width: 66.66666666%;
}
.content-blocks-wrapper .col-2-3-1-3 .block:last-child {
	width: 33.33333333%;
}
.content-blocks-wrapper .col-1-3-2-3 .block {
	width: 33.33333333%;
}
.content-blocks-wrapper .col-1-3-2-3 .block:last-child {
	width: 66.66666666%;
}

.content-blocks {
	padding: 10px;
}

.content-block {
	margin-bottom: 1em;
	border: 1px solid #ddd;
	background: #fff;
}

.content-block-header {
	margin: 0;
	padding: .5em 1em .5em .25em;
	background: #f5f5f5;
	font-size: 1.1em;
}

.content-block-header:hover {
	cursor: pointer;
}

.no-settings .content-block-header:hover {
	cursor: default;
}

.content-block .interior {
	padding: 0 10px;
}

.content-block.collapsed .interior {
	display: none;
}

.content-block table {
	width: 100%;
}

.content-block th {
	text-align: left;
}

.content-block .delete-content-block,
.row .delete-row {
	float: right;
	color: red;
	font-size: .8em;
	font-weight: normal;
}

.content-block .delete-row {
	color: red;
	font-size: .9em;
}

.content-block-adder .toggle {
	position: relative;
	padding-left: 25px;
	text-decoration: none;
}

.content-block-adder .toggle:focus {
	outline: none;
}

.content-block-adder .toggle:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAyODQgMjg0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTEiIHN0cm9rZT0iIzAwNzRBMiIgc3Ryb2tlLXdpZHRoPSIxOSIgY3g9IjE0MiIgY3k9IjE0MiIgcj0iMTMyIj48L2NpcmNsZT4NCiAgICAgICAgPHBhdGggZD0iTTcwLjkzNzUsMTU0LjQwNjI1IEw3MC45Mzc1LDEzMC43ODEyNSBMMTMyLjI1LDEzMC43ODEyNSBMMTMyLjI1LDY5LjA0Njg3NSBMMTU2LjI5Njg3NSw2OS4wNDY4NzUgTDE1Ni4yOTY4NzUsMTMwLjc4MTI1IEwyMTcuNjA5Mzc1LDEzMC43ODEyNSBMMjE3LjYwOTM3NSwxNTQuNDA2MjUgTDE1Ni4yOTY4NzUsMTU0LjQwNjI1IEwxNTYuMjk2ODc1LDIxNiBMMTMyLjI1LDIxNiBMMTMyLjI1LDE1NC40MDYyNSBMNzAuOTM3NSwxNTQuNDA2MjUgWiIgaWQ9IisiIGZpbGw9IiMwMDc0QTIiPjwvcGF0aD4NCiAgICA8L2c+DQo8L3N2Zz4=) no-repeat center;
	background-size: 18px 18px;
	content: '';

	-webkit-transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
}

.content-block-adder .toggle:hover:before {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAyODQgMjg0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTEiIHN0cm9rZT0iIzJlYTJjYyIgc3Ryb2tlLXdpZHRoPSIxOSIgY3g9IjE0MiIgY3k9IjE0MiIgcj0iMTMyIj48L2NpcmNsZT4NCiAgICAgICAgPHBhdGggZD0iTTcwLjkzNzUsMTU0LjQwNjI1IEw3MC45Mzc1LDEzMC43ODEyNSBMMTMyLjI1LDEzMC43ODEyNSBMMTMyLjI1LDY5LjA0Njg3NSBMMTU2LjI5Njg3NSw2OS4wNDY4NzUgTDE1Ni4yOTY4NzUsMTMwLjc4MTI1IEwyMTcuNjA5Mzc1LDEzMC43ODEyNSBMMjE3LjYwOTM3NSwxNTQuNDA2MjUgTDE1Ni4yOTY4NzUsMTU0LjQwNjI1IEwxNTYuMjk2ODc1LDIxNiBMMTMyLjI1LDIxNiBMMTMyLjI1LDE1NC40MDYyNSBMNzAuOTM3NSwxNTQuNDA2MjUgWiIgaWQ9IisiIGZpbGw9IiMyZWEyY2MiPjwvcGF0aD4NCiAgICA8L2c+DQo8L3N2Zz4=);
}

.content-block-adder .toggle.open:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.content-block-select {
	margin-top: 10px;
}

.post-type-post .content-block-select {
	display: inline-block; /* not working - see jQuery toggle */
}

.content-block .handle:hover,
.row .handle:hover {
	cursor: move !important;
}

.content-block .handle img,
.row .handle img {
	vertical-align: bottom;
	margin-right: 5px;
}
